<!DOCTYPE html>

<html lang="es">

<head>
  <!-- Metadatos -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="aprendiendoDiseñoWeb">
  <meta name="author" content="Dante Delprato">
  <meta name="description" content="Esquema Básico de una Pág. web con algunos elementos html útiles">

  <!-- links -->

  <!--Custom Css-->
  <link rel="stylesheet" type="text/css" href="/styles/home.css">

  <!--FavIcon-->
  <link rel="shortcut icon" href="" type="/images/favico.png">

  <!-- Titulo de la Pag -->
  <title>Mercado Liebre</title>

</head>

<body> <!-- Cuerpo -->

  <header> <!--Encabezados-->
    <img src="/images/logo-mercado-liebre.svg" alt="Logo Completo de la Pag de Mercado Liebre" height="150" width="300">

    <p>Lugar para poner la barra de busqueda</p>

    <h2>Comprá en cuotas y sin tarjeta de Credito</h2>

    <div name="secciones">
      <nav>
        <ul>
          <li> <a href="/ofertas" target="_blank" rel="noopener noreferrer">Oferta</a> </li>
          <li> <a href="http://www.facebook.com" target="_blank" rel="noopener noreferrer">Tiendas Oficiales</a> </li>
          <li> <a href="http://" target="_blank" rel="noopener noreferrer">Vender</a> </li>
          <li> <a href="http://" target="_blank" rel="noopener noreferrer">Ayuda</a> </li>
        </ul>
    </div>

    <div name="usuarios">
      <ul>
        <li> <a href="http://" target="_blank" rel="noopener noreferrer">Creá tu cuenta</a> </li>
        <li> <a href="http://" target="_blank" rel="noopener noreferrer">Ingresá</a> </li>
        <li> <a href="http://" target="_blank" rel="noopener noreferrer">Mis compras</a> </li>
      </ul>
    </div>
    </nav>
  </header>

  <main> <!-- Principal -->

    <section name="ultimaVisita">

      <h2>Basado en tu última visita</h2>

      <div name="card1__last">
        <img src="images/img-cafetera-moulinex.jpg" alt="fotografia de cafetera" height="150">
        <p>
          $6.770 <br>
          40% OFF <br>
        </p>
        <h3>Cafetera Moulinex</h3>
      </div>

      <hr>

      <div name="card2__last">
        <img src="images/img-macbook-pro-2019.jpg" alt="fotografia de computadora" height="150">
        <p>
          $230.000 <br>
          20% off <br>
        </p>
        <h3>MacBook Pro 2019</h3>
      </div>

      <hr>

      <div name="card3__last">
        <img src="images/img-samsung-galaxy-s10.jpg" alt="fotografia de celular" height="150">
        <p>
          $70.500 <br>
          10% off <br>
        </p>
        <h3>Samsung Galaxy S10</h3>
      </div>

      <hr>

      <div name="card4__last">
        <img src="images/img-tv-samsung-smart.jpg" alt="fotografia de televisor" height="150">
        <p>
          $23.200 <br>
          5% off <br>
        </p>
        <h3>SmartTv Samsung 43"</h3>
      </div>

      <hr>
    </section>

    <section name="ofertas">
      <h2>Ofertas</h2>

      <div name="card1__sale">
        <img src="/public/images/img-cafetera-moulinex.jpg" alt="fotografia de cafetera" height="150">
        <p>
          $6.770 <br>
          40% OFF <br>
        </p>
        <h3>Cafetera Moulinex</h3>
      </div>

      <hr>

      <div name="card2__sale">
        <img src="images/img-macbook-pro-2019.jpg" alt="fotografia de computadora" height="150">
        <p>
          $230.000 <br>
          20% off <br>
        </p>
        <h3>MacBook Pro 2019</h3>
      </div>

      <hr>

      <div name="card3__sale">
        <img src="images/img-samsung-galaxy-s10.jpg" alt="fotografia de celular" height="150">
        <p>
          $70.500 <br>
          10% off <br>
        </p>
        <h3>Samsung Galaxy S10</h3>
      </div>

      <hr>

      <div name="card4__sale">
        <img src="images/img-tv-samsung-smart.jpg" alt="fotografia de televisor" height="150">
        <p>
          $23.200 <br>
          5% off <br>
        </p>
        <h3>SmartTv Samsung 43"</h3>
      </div>

      <hr>
    </section>

  </main>

  <footer> <!-- Pie de Pagina -->

    <ul>
      <li>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
          puntos de pago. ¡Y siempre es seguro!
        </p>
      </li>
      <li>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
          productos. Es un beneficio de Mercado Puntos.
        </p>
      </li>
      <li>
        <h3>Seguridad, de principio a fin</h3>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
          porque estás siempre protegid@.
        </p>
      </li>
    </ul>

    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

  </footer>


</body>

</html>