<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <img src="images/logo-mercado-liebre.svg" alt="logo mercado liebre" height="200">
  <img src="images/img-home-banner.jpg" alt="banner de la pag" width="100%">
  <h1>Ofertas Mercado Liebre</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta perspiciatis natus doloremque adipisci cumque eos
    accusamus? Provident nobis exercitationem voluptas itaque vero dolor, dolorem, maiores ipsum, quibusdam inventore
    laudantium animi.</p>
</body>

</html>